body {

background: url(http://desktopwallpapers.org.ua/images/201107/desktopwallpapers.org.ua_2831.jpg);
}


#footer {
	position: fixed;
	margin: auto;
    bottom: 0;
    left: 43%;
    color: #b2a7a7;  
}

input {
	/*box-shadow: 0 0 5px 2px;*/
	border-radius: 10px;
	
}


p {
font-family: Geneva, Arial, Helvetica, sans-serif;
color: #00BFFF;
}

form {

	position: relative;
	left: 25px;

}

input[type=date] {
  height: 30px;
  margin: 0 auto;
  width: 20%;
  font-family: arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  border-radius: 10px;
  padding: 0 3px;
  color: #fff;
  
  
  }
table {
box-shadow: 0 0 10px 2px;
 
 width: 80%;
    border-collapse: collapse;

/*  position: relative;
  left: 25px;
  right:25px;*/
  border-style: double;
  color: red;
  font-family: Helvetica;
}

